
@font-face{
	font-family: Roboto Condensed Light;
		src: url('fonts/RobotoCondensed-Light.ttf');
}
@font-face{
	font-family: Roboto Condensed Regular;
		src: url('fonts/RobotoCondensed-Regular.ttf');
}
@font-face{
	font-family: Roboto Condensed Bold;
		src: url('fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: iciel Panton Light;
    src: url('fonts/icielPantonLight.otf');
}

@font-face {
    font-family: iciel Panton Black;
    src: url('fonts/icielPantonBlack.otf');
}

@font-face {
    font-family: iCiel Simplifica;
    src: url('fonts/iCiel Simplifica.ttf');
}

@font-face{
	font-family: HelveticaVn BlkCn;
		src: url('fonts/HelveticaVn-BlkCn.ttf');
}

@font-face{
	font-family: HelveticaVn LtCn;
		src: url('fonts/HelveticaVn-LtCn.ttf');
}

@font-face{
	font-family: HelveticaVn ThCn;
		src: url('fonts/HelveticaVn-ThCn.ttf');
}

@font-face{
	font-family: HelveticaVn ThCnO;
		src: url('fonts/HelveticaVn-ThCnO.ttf');
}

@font-face {
    font-family: SFT Thin;
    src: url('fonts/SanFranciscoText-Thin.otf');
}


@font-face {
    font-family: SFT Light;
    src: url('fonts/SanFranciscoText-Light.otf');
}

@font-face {
    font-family: SFT Regular;
    src: url('fonts/SanFranciscoText-Regular.otf');
}

@font-face {
    font-family: SFT Medium;
    src: url('fonts/SanFranciscoText-Medium.otf');
}

@font-face {
    font-family: SFT Bold;
    src: url('fonts/SanFranciscoText-Bold.otf');
}