<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>30Shine ERP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="~/Assets/css/font.css" rel="stylesheet" />
    <link href="~/Assets/css/Login_V2.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Assets/izitoast/css/iziToast.min.css" rel="stylesheet" />
    <script src="~/Assets/izitoast/js/iziToast.min.js"></script>
    <script src="~/Assets/js/Common.js"></script>
    <style>
        body {
            background-color: #31343d;
            font-family: 'Roboto Regular';
        }

        .radio label, .checkbox label, .form-control {
            font-family: 'Roboto Regular';
            color: #636770;
        }

        @@media(max-width:768px) {
            body {
                background-color: #3b3d46;
            }

            .fix3 {
                font-size: 20px !important;
                color: #d2d2d0 !important;
                margin: 0 !important;
            }
        }

        .checkbox input[type="checkbox"] {
            margin-left: 0px;
            margin-right: 8px;
        }

        .fix3 {
            font-size: 23px !important;
            color: #d2d2d0 !important;
            margin: 0 !important;
        }

        .form-horizontal .form-group {
            margin-right: 0px;
            margin-left: 0px;
        }

        .fixlb {
            margin-bottom: 10px !important;
        }

        .btn-default {
            border-color: #636770;
        }

        .form-forget {
            margin-bottom: 10px;
        }

        .modal-content {
            background-color: #414345;
        }

        .modal-title {
            color: #e4e5e6;
        }

        .modal-header {
            border-bottom: 1px solid #333;
        }

        .modal-footer {
            border-top: 1px solid #333;
        }

        .modal-body label {
            color: #e4e5e6;
        }
    </style>
</head>
<body>
    @RenderBody()
    <script src="~/Assets/js/jquery.v1.11.1.js"></script>
    <script src="/Assets/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript">
        function ShowModal() {
            $("#myModal").modal();
        }
        jQuery(document).ready(function ($) {
            // auto focus on input[name="username"]
            $("input[name='username']").focus();
        });
        $('#UserNameSend').keypress(function (e) {
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                $("#BtnComplete").click();
                return false;
            }
        });
    </script>
</body>
</html>